
.app-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.welcome-message {
  color: gray;
  text-align: center;
}
