.send-button, .clear-button{
  background-color: rgb(25, 135, 84);
  color: white;
  padding: 10px 16px;
  margin: 4px;
  border: 0px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.chat-input {
  padding: 10px 16px;
  margin: 4px;
  border-radius: 30px;
  font-size: 16px;
  border: solid 1px;
  flex-grow: 1;
}

.chat-input-container {
  display: flex;
  margin-bottom: 50px;
}

.loading-spinner {
  height: 40px;
  margin: -15px;
}

.send-button {
  background-color: rgb(25, 135, 84);
  color: white;
}

.clear-button {
  background-color: rgb(230, 230, 230);
  color: black;
}